
<ion-header class="with_back">
  <ion-navbar>
    <ion-title>Schedule Availability</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<div *ngIf="calShow" class="blue_box">
    <ion-calendar #calendar [(ngModel)]="dateRange"
      [options]="optionsRange"
      [type]="type"
      [format]="'YYYY-MM-DD'"
      (onDaySelect)="onDaySelect($event)"
      (dateSelected)="onDateSelected($event)"
      (onSelectStart)="onSelectStart($event)"
      (onChange)="onChange($event)"
      step="30">
    </ion-calendar>
	</div>
	<div padding>
		<div class="white_box">
			<p class="center">Set Time Slots</p>

			<ion-list class="input_forms" no-lines>
			<ion-item *ngFor="let slots of getViewAvailbilityData">
				    	<ion-label>{{slots.from_time}}:00 to {{slots.to_time}}:00</ion-label>
					 	<ion-icon *ngIf="userType == 'T'" (click)="deleteSlot(slots.slot_id,slots.date)" item-end><img src="img/cross_icon.png" alt=""/></ion-icon>
					</ion-item>

          <ion-row *ngFor="let att of anArray;let i = index">
					<ion-col col-50>
						<ion-item class="drops">
						  	<ion-icon item-end><img src="img/clock_icon.png" alt=""/></ion-icon>
						  	<ion-datetime displayFormat="HH:mm" minuteValues="0" placeholder="From" (ionChange)="fromTime($event,i)"></ion-datetime>
						</ion-item>
					</ion-col>
					<ion-col col-50>
					    <ion-item class="drops">
						  	<ion-icon item-end><img src="img/clock_icon.png" alt=""/></ion-icon>
						  	<ion-datetime displayFormat="HH:mm" minuteValues="0" placeholder="To" minuteValues="0" (ionChange)="toTime($event,i)"></ion-datetime>
						</ion-item>
					</ion-col>
					<ion-icon style="height: 20px;width: 20px;margin-top: 26px;" item-end (click)="remove(i)"><img src="img/cross_icon.png" alt=""/></ion-icon>
				</ion-row>


			</ion-list>
			<p class="add_more"><span class="underline" (click)="addMore()">+ Add More</span></p>
			<button class="btn btn-text" ion-button full (click)="submitSlot()">Submit</button>
		</div>
	</div>
</ion-content>
