page-teacher-my-appointments {
	.swipe-area {
	    height:100%;
	    width:100%;
    }
    .rating
		{
			display: block;
			margin: 6px 0;
			img
			{
				height: 34px;
				margin: 0 3px;
			}
			ul {
			  	padding: 0px;
			  	&.rating li {
				    padding: 5px 0px !important;
				    background: none;
				    color: #ffb400;
				    ion-icon {
              font-size: 23px;
			    	}
			  	}
			}


    }
    // .appointments_tab2
    // {
    //   display: block;
    //   white-space: nowrap;
    //   overflow: auto;
    //   .segment-button
    //   {
    //     display: inline-block;
    //     min-width: 100px;
    //     vertical-align: middle;
    //   }
    // }
}
