
<ion-header class="with_back">
  <ion-navbar>
    <ion-title>Subject Detail</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
	<div class="subject_image">
    <img *ngIf="getDetailData?.image" src="{{getDetailData?.image}}" alt="" />
    <img *ngIf="!getDetailData?.image" src="img/subject_image.jpg" alt="" />
	</div>
	<div padding>
		<div class="white_box">
			<!-- <h2 class="bold_font">{{getDetailData?.title}}</h2> -->
			<h4>{{catName}} > {{subCatName}}</h4>
			<p>{{getDetailData?.detail}}</p>
		</div>
		<button class="btn btn-text" ion-button full (click)="goToTutorList()">Browse Available Tutors</button>
	</div>
</ion-content>
