
<ion-header>
  <ion-navbar>
    <ion-title>Tutor List</ion-title>
    <ion-buttons right>
        <button ion-button (click)="goToFilters()">
          <ion-icon><img src="img/filter_icon.png" alt="" /></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <div class="sort">
		<p>Sort By</p>
		<!-- <ul>
			<li class="active" (click)="allShow()">All</li>
			<li (click)="favorite()">Favorites</li>
    </ul> -->

    <ul id="grouplist" class="list-group">
        <li class="list-group-item" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)" *ngFor="let item of groups">
           {{ item.name }}
        </li>
   </ul>

	</div>
</ion-header>
<ion-content padding>
		<div class="white_box">
			<ion-list no-lines *ngIf="allShow" >
				<ion-item *ngFor="let tutor of tutorArr">
			        <ion-avatar item-start (click)="goTutorProfile(tutor.tutor_id)">
			        	<img src="{{tutor.profile_pic}}">
			        </ion-avatar>
			        <h2 (click)="goTutorProfile(tutor.tutor_id)">{{tutor.first_name}} {{tutor.last_name}}, {{tutor.gender}}, {{tutor.age}}
              <span (click)="goTutorProfile(tutor.tutor_id)" class="rating">
              <rating  *ngIf="tutor.rating != null"
					        readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"(ngModelChange)="onModelChange($event)">
							</rating>
							<rating *ngIf="tutor.rating == null"  [(ngModel)]="tutor.avg_rating"
					        readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"(ngModelChange)="onModelChange($event)">
							</rating>
			        	</span>
			        </h2>
			        <p (click)="goTutorProfile(tutor.tutor_id)" class="location"><img src="img/location_icon.png" alt="" />{{tutor.address}} <span>{{tutor.distance}} km</span></p>
			        <h4 (click)="goTutorProfile(tutor.tutor_id)" class="bold_font">{{tutor.rate}} Q.R/hr</h4>
			        <div class="services bold_font" (click)="goToServicesPopup(tutor.categories)">
			        	<span>{{tutor.categories[0].category_name}}</span>- {{tutor.categories[0].subcategories[0]}}
			        	<span class="more">+{{tutor.catLength}} more</span>
			        </div>
			    </ion-item>
			    <p style="text-align: center;margin-top: 50%;" *ngIf="check">There is no data found.</p>
        </ion-list>


        <ion-list no-lines *ngIf="favShow">
            <ion-item *ngFor="let review of favArr">
			        <ion-avatar item-start (click)="goTutorProfile(tutor.tutor_id)">
			        	<img src="{{review.profile_pic}}">
			        </ion-avatar>
			        <h2 (click)="goTutorProfile(review.tutor_id)">{{review.first_name}} {{review.last_name}}, {{review.gender}}, {{review.age}}
              <span (click)="goTutorProfile(review.tutor_id)" class="rating">
              <rating  *ngIf="review.rating != null"
					        readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"(ngModelChange)="onModelChange($event)">
							</rating>
							<rating *ngIf="review.rating == null"  [(ngModel)]="review.avg_rating"
					        readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"(ngModelChange)="onModelChange($event)">
							</rating>
			        	</span>
			        </h2>
			        <p (click)="goTutorProfile(review.tutor_id)" class="location"><img src="img/location_icon.png" alt="" />{{review.address}} <span>{{review.distance}} km</span></p>
			        <h4 (click)="goTutorProfile(review.tutor_id)" class="bold_font">{{review.rate}} Q.R/hr</h4>
			        <div class="services bold_font" (click)="goToServicesPopup(review.categories)">
			        	<span>{{review.categories[0].category_name}}</span>- {{review.categories[0].subcategories[0]}}
			        	<span class="more">+{{review.catLength}} more</span>
			        </div>
            </ion-item>
            <p *ngIf="show" style="text-align: center;">There is no data in your favorite list.</p>
        </ion-list>
		</div>
</ion-content>
