page-my-profile {
	.header
	{
		.toolbar
		{
			.toolbar-background
			{
				/*background:none;*/
				border:none;
			}
			.toolbar-content-md
			{
				padding-left:40px;
			}
		}
	}
	.content
	{
		.white_box
		{
			.edit_icon
			{
				text-align:right;
				padding:0 10px;
				img
				{
					height: 66px;
					margin-top: -33px;
					vertical-align: top;
				}
			}
			.edit_icon + p
			{
				padding-top:0;
			}
		}
	}
}
