<ion-header>
  <ion-navbar>
    <ion-title>
      <img class="title-image" alt="logo" height="40" src="assets/img/logo.png" >
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="background_image_header text-center" *ngFor="let data of cateDetailData">
      <br>
      <div>
      <h6 class="headline">
        Question:{{data.id}} :- {{ data.question }}
      </h6>
      <br>
      <p>
        Answer:- {{ data.answer }}
      </p>
      <br>
      <p padding>
        {{ data.comments }}
      </p>
    </div>
  </div>
</ion-content>
<!-- <div class="background_image_header text-center" *ngFor="let data of cateDetailData">
      <br>
      <div>
      <h6 class="headline">
        Question:{{data.id}} :- {{ data.question }}
      </h6>
      <br>
      <a class="btn__line__square__white">
        Answer:- {{ data.answer }}
      </a>
      <br>
      <div class="item__content">
          <p padding>
            {{ data.comments }}
          </p>
        </div>
    </div>
  </div> -->
