.ios, .md {
	page-teacher-tutorial {
		ion-slide {
	      	background-color: #000000;
	    }
	 
	    ion-slide img {
	     	height: 100% !important;
	    	width: 100% !important;
	    	margin-top: -15px;
	    }
	}
}